.closeModalBtn {
    width: fit-content;
  cursor: pointer;
  background: var(--surface-secondary);
  border: none;
  color: var(--accent);
  transition: color var(--transition-fast);

  position: absolute;
  right: var(--space-sm);
}
.closeModalBtn:hover {
  color: var(--accent-dark);
}
.closeModalBtn svg {
  width: 30px;
  height: 30px;
}